.news-detail-page {
  .go-back-link {
    cursor: pointer;
    opacity: .8;
    text-decoration: underline;
    padding-bottom: 20px;
    color: blue;
  }

  .card {
    img {
      height: 200px;
      width: 400px;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  .spinner-border {
    position: absolute;
    right: 50%;
  }
}