.news-page {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h5 {
    text-align: center;
    opacity: .8;
  }

  form {
    display: flex;
    justify-content: flex-end;

    input {
      width: 20%;
      border: none;
      background-color: #f2f2f2;
    }
  }

  &-news-block {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    //margin-bottom: 40px;

    .card {
      margin: 15px;

      img {
        height: 185px;
      }
    }

    .card:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    }
  }

  .spinner-border {
    position: absolute;
    right: 50%;
    top: 115px;
    z-index: 111;
  }
}

@media screen and (max-width: 600px) {
  .news-page {
    form {
      input {
        width: 50%;
      }
    }
  }
}