header {
  height: 60px;
  box-shadow: 0 10px 12px rgba(0, 0, 0, .04);

  nav {
    background-color: rgb(255, 255, 255) !important;
    height: 100%;
    width: 100%;

    .mr-auto {
      width: 100%;
      justify-content: space-around;

      a {
        display: flex;
        align-items: center;
        color: rgba(0,0,0,.7);
        text-decoration: none;
      }
    }
  }

  .info {
    display: flex;
  }
}