#root {
  height: 100vh;

  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding: 0 !important;
  }

  .container-fluid {
    height: 100%;

    .row {
      margin: 0 !important;

      > header, > section, > footer {
        width: 100%;
      }

      > section {
        padding: 15px;
      }
    }
  }

  .error-message {
    font-size: 13px;
    text-align: center;
    color: red;
  }

  .bg-white {
    background-color: white;
  }
}